@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="text-center">
    <h1>Boas vindas, aluno!</h1>
    <p class="fw-light mt-2">É com muita alegria que estamos lhe recebendo nessa nova etapa de sua vida, parabéns!</p>

    <span>
        <button type="button" class="btn btn-primary btn-lg me-3 mt-1">Acesso a área do aluno</button>
        <button type="button" class="btn btn-outline-danger btn-sm mt-1">Sair</button>
    </span>
</main>