@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto Curso Online</h1>
<p>Bem vindo ao nosso site! Fique a vontade para escolher onde deseja navegar.</p>
</div>
